[submodule "datadiver/airflow"]
	path = datadiver/airflow
	url = git@github.com:datadiverdev/datadiver-airflow.git
[submodule "datadiver/cert-manager"]
	path = datadiver/cert-manager
	url = git@github.com:datadiverdev/datadiver-cert-manager.git
[submodule "datadiver/flink"]
	path = datadiver/flink
	url = git@github.com:datadiverdev/datadiver-flink.git
[submodule "datadiver/kafka"]
	path = datadiver/kafka
	url = git@github.com:datadiverdev/datadiver-kafka.git
[submodule "datadiver/minio"]
	path = datadiver/minio
	url = git@github.com:datadiverdev/datadiver-minio.git
[submodule "datadiver/traefik"]
	path = datadiver/traefik
	url = git@github.com:datadiverdev/datadiver-traefik.git
[submodule "datadiver/redpanda"]
	path = datadiver/redpanda
	url = git@github.com:datadiverdev/datadiver-redpanda.git
