# jetbrains
.idea

# local data
data/2016
data/sas

# python
.venv
__pycache__
*.pyc
Pipfile.lock

# config
capstone.cfg

# terraform
# .terraform
# .terraform.lock.hcl
# terraform.tfstate
# terraform.tfstate.backup
# secrets.tfvars
